*.swp
*.exe
*.o
*.a
*.js
*.html
*.wasm
*.data

examples/efelder/efelder
examples/efelder/efelder_opt
examples/efelder/*.png
examples/performance/performance
examples/performance/performance_opt
examples/resize/resize
examples/resize/resize_opt
examples/brainfuck/brainfuck
examples/brainfuck/brainfuck_opt
examples/gui/gui
examples/gui/gui_opt
examples/template/template
tools/converter/slk_converter
tools/converter/*.png
tools/converter/*.slk
tools/converter/*.pal
tools/image_updater/slk_img_updater
tools/image_updater/*.png
tools/image_updater/*.slk
